# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/

# environment files
.env*
!.env.example

# database & local stores
.mongodb/
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript / OS
*.tsbuildinfo
next-env.d.ts
.DS_Store
.vercel
